apiVersion: v1
kind: Service
metadata:
  name: kafka-svc
  namespace: orbitdesk
  labels:
    app: kafka
spec:
  ports:
    - port: 9092
      name: plaintext
  clusterIP: None
  selector:
    app: kafka
