apiVersion: v1
kind: Service
metadata:
  name: notification-svc
  namespace: orbitdesk
spec:
  selector:
    app: notification-service
  ports:
    - protocol: TCP
      port: 3001
      targetPort: 3001
  type: ClusterIP
